/**
    * Custom CSS
    * --------------------------------------------------------------------- */

#custom-css {
  --mainColor: #864692;
  --mainHoverColor: #b580c9;
  --mainColorLighter: #b580c9;
  --mainColorLightest: #d6b3dd;
  --mainForegroundColor: #17112d;
  --mainBackgroundColor: #fffafa;
  --menuBackgroundColor: #17112d;
  --submenuBackgroundColor: #f7f7f7;
}
